<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
</head>
<body>
    <table style="border: 2px solid">
 <% data.forEach(function(item, index){ %>
    <tr>
        <td style="border: 2px solid; padding: 2px;"><%= item.ssn %></td>
        <td style="border: 2px solid;  padding: 2px;"><%= item.fname %></td>
        <td style="border: 2px solid;  padding: 2px;"><%= item.lname %></td>
        <td style="border: 2px solid;  padding: 2px;"><%= item.address %></td>
        <td style="border: 2px solid;  padding: 2px;"><%= item.sex %></td>
        <td style="border: 2px solid;  padding: 2px;"><%= item.superssn %></td>
        <td style="border: 2px solid;  padding: 2px;"><%= item.dno %></td>
      
    </tr>
    <% }); %>
</table>
</body>
</html>